*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
}

.first-screen {

  height: 100vh;
  width: 100%;
  background: #ffffff url("../assets/ff00169591fe19472740d08aa9a6821c.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .board {


    border-radius: 10px;

    color: white;
    width: 60%;
    height: 80%;
    border: 5px solid white;


  }

}


